*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}

body{
    background-color: #091921;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .calculatorForm{
    width: 350px;
    height: 450px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 500;
}

.main .calculatorForm div{
    width: 100%;
    height: calc(450px/6);
    display: flex;
    flex: 1;
    
}

.main .calculatorForm div input {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.1);
}