*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}

body{
    background-color: white;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}




.main .calculatorForm{
    width: 350px;
    height: 450px;
    position: relative;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 500;
    
}

.main .calculatorForm div{
    width: 100%;
    height: calc(450px/6);
    display: flex;
    flex: 1;
    
}

.main .calculatorForm div input {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    
}

.numbers{
    color: white;
    background-color: #091921;
    border: 0.1px solid rgb(34, 109, 194);
}

.alri{
    background-color: #ff3077;
    color: white;
}

#screenIn{
    background-color: #091921;
    color: white;
    text-align: end;
    padding-right: 20px;
    border-radius: 12px 12px 0 0;
}

.bottom-1{
    border-radius: 0 0 0 12px ;
}

.bottom-2{
    border-radius: 0 0 12px 0;
}